{% extends "base_generic.html" %}

{% block content %}
  <h1>{{user.username}}: {{user.id}}</h1>

  {% if user.is_superuser %}
    <h2>Hello boss!</h2>
  {% endif %}

  {% if not user.first_name %}
    <p>Looks like you haven't set up your full name, please visit admin page if you are super user.</p>
  {% else %}
    <p>Hello, {{user.first_name}} {{user.last_name}}</p>
  {% endif %}

  <p>Email: {{user.email}}</p>
  <p>Last login: {{user.last_login}}</p>
  
  <p>Person Info about the user</p>
{% endblock %}
